<nav>
    <a class="active" href="./">Game</a>
    <a href="./scope">Scope</a>
</nav>

{{#if image}}

<img src="images/{{image.name}}" width="530" alt="Images" />

<div class="button-holder">
    <form action="./wins" method="post">
        <input type="hidden" name="image" value="{{image.name}}" />
        <input type="submit" value="win" />
    </form>
    <form action="./loses" method="post">
        <input type="hidden" name="image" value="{{image.name}}" />
        <input type="submit" value="lose" />
    </form>
</div>

{{else}}

<h3>No more photos to vote on! Check out the <a href="./scope">scope</a>.</h3>

{{/if}}