<!DOCTYPE html>
<html>
<head>
    <title>Photo Voting Game</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet">

</head>
<body>
    <header>
        <h1><span class="green">Love</span> or <span class="red">NOT?</span></h1>
        <h2>A Node.js Voting Game</h2>
    </header>

    {{{body}}}

    <footer>
        <a class="tz" href="http://jamesnova.com/">James Donovan</a>
    </footer>

</body>
</html>